.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  min-height: 0;
  width: 100%;
  overflow: hidden;

  main {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
    &.with-sidebar {
      margin-left: 210px;
    }
  }
}

@media (max-width: 768px) {
  .app-container main.with-sidebar {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
  }
}
