<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;">
    <h3>Pie Chart</h3>
  </span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="pie" [config]="pieExample.config" [data]="pieExample.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample2.config" [data]="pieExample2.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample3.config" [data]="pieExample3.data" />
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="pie" [config]="pieExample4.config" [data]="pieExample4.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample5.config" [data]="pieExample5.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample6.config" [data]="pieExample6.data" />
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="pie" [config]="pieExample7.config" [data]="pieExample7.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample8.config" [data]="pieExample8.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample9.config" [data]="pieExample9.data" />
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;"><h3>Donut Chart</h3></span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="donut" [config]="pieExample.config" [data]="pieExample.data" />
  <chart style="width: 24%;" type="donut" [config]="pieExample2.config" [data]="pieExample2.data" />
  <chart style="width: 24%;" type="donut" [config]="pieExample3.config" [data]="pieExample3.data" />
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="donut" [config]="pieExample4.config" [data]="pieExample4.data" />
  <chart style="width: 24%;" type="donut" [config]="pieExample5.config" [data]="pieExample5.data" />
  <chart style="width: 24%;" type="donut" [config]="pieExample6.config" [data]="pieExample6.data" />
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="donut" [config]="pieExample7.config" [data]="pieExample7.data" />
  <chart style="width: 24%;" type="donut" [config]="pieExample8.config" [data]="pieExample8.data" />
  <chart style="width: 24%;" type="donut" [config]="pieExample9.config" [data]="pieExample9.data" />
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;"><h3>Polar Chart</h3></span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="polar" [config]="pieExample.config" [data]="pieExample.data" />
  <chart style="width: 24%;" type="polar" [config]="pieExample2.config" [data]="pieExample2.data" />
  <chart style="width: 24%;" type="polar" [config]="pieExample3.config" [data]="pieExample3.data" />
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="polar" [config]="pieExample4.config" [data]="pieExample4.data" />
  <chart style="width: 24%;" type="polar" [config]="pieExample5.config" [data]="pieExample5.data" />
  <chart style="width: 24%;" type="polar" [config]="pieExample6.config" [data]="pieExample6.data" />
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="polar" [config]="pieExample7.config" [data]="pieExample7.data" />
  <chart style="width: 24%;" type="polar" [config]="pieExample8.config" [data]="pieExample8.data" />
  <chart style="width: 24%;" type="polar" [config]="pieExample9.config" [data]="pieExample9.data" />
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;"><h3>Radar Chart</h3></span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="radar" [config]="pieExample.config" [data]="pieExample.data" />
  <chart style="width: 24%;" type="radar" [config]="pieExample2.config" [data]="pieExample2.data" />
  <chart style="width: 24%;" type="radar" [config]="pieExample3.config" [data]="pieExample3.data" />
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="radar" [config]="pieExample4.config" [data]="pieExample4.data" />
  <chart style="width: 24%;" type="radar" [config]="pieExample5.config" [data]="pieExample5.data" />
  <chart style="width: 24%;" type="radar" [config]="pieExample6.config" [data]="pieExample6.data" />
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 1em;">
  <chart style="width: 24%;" type="radar" [config]="pieExample7.config" [data]="pieExample7.data" />
  <chart style="width: 24%;" type="radar" [config]="pieExample8.config" [data]="pieExample8.data" />
  <chart style="width: 24%;" type="radar" [config]="pieExample9.config" [data]="pieExample9.data" />
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;"><h3>Bar Chart</h3></span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="bar" [config]="barExample.config" [data]="barExample.data" />
  <chart style="width: 24%" type="bar" [config]="barExample2.config" [data]="barExample2.data" />
  <chart style="width: 24%" type="bar" [config]="barExample3.config" [data]="barExample3.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="bar" [config]="barExample4.config" [data]="barExample4.data" />
  <chart style="width: 24%" type="bar" [config]="barExample5.config" [data]="barExample5.data" />
  <chart style="width: 24%" type="bar" [config]="barExample6.config" [data]="barExample6.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="bar" [config]="barExample7.config" [data]="barExample7.data" />
  <chart style="width: 24%" type="bar" [config]="barExample8.config" [data]="barExample8.data" />
  <chart style="width: 24%" type="bar" [config]="barExample9.config" [data]="barExample9.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="bar" [config]="barExample10.config" [data]="barExample10.data" />
  <chart style="width: 24%" type="funnel" [config]="funnelExample.config" [data]="funnelExample.data" />
  <chart style="width: 24%" type="pyramid" [config]="funnelExample.config" [data]="funnelExample.data" />
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;"><h3>Line Chart</h3></span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="line" [config]="lineExample.config" [data]="lineExample.data" />
  <chart style="width: 24%" type="line" [config]="lineExample2.config" [data]="lineExample2.data" />
  <chart style="width: 24%" type="line" [config]="lineExample3.config" [data]="lineExample3.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="line" [config]="lineExample4.config" [data]="lineExample4.data" />
  <chart style="width: 24%" type="line" [config]="lineExample5.config" [data]="lineExample5.data" />
  <chart style="width: 24%" type="line" [config]="lineExample6.config" [data]="lineExample6.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="line" [config]="lineExample7.config" [data]="lineExample7.data" />
  <chart style="width: 24%" type="line" [config]="lineExample8.config" [data]="lineExample8.data" />
  <chart style="width: 24%" type="line" [config]="lineExample9.config" [data]="lineExample9.data" />
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;"><h3>Area Chart</h3></span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="area" [config]="lineExample.config" [data]="lineExample.data" />
  <chart style="width: 24%" type="area" [config]="lineExample2.config" [data]="lineExample2.data" />
  <chart style="width: 24%" type="area" [config]="lineExample3.config" [data]="lineExample3.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="area" [config]="lineExample4.config" [data]="lineExample4.data" />
  <chart style="width: 24%" type="area" [config]="lineExample5.config" [data]="lineExample5.data" />
  <chart style="width: 24%" type="area" [config]="lineExample6.config" [data]="lineExample6.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="area" [config]="lineExample7.config" [data]="lineExample7.data" />
  <chart style="width: 24%" type="area" [config]="lineExample8.config" [data]="lineExample8.data" />
  <chart style="width: 24%" type="area" [config]="lineExample9.config" [data]="lineExample9.data" />
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;"><h3>Combo Chart</h3></span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 49%" type="line" [config]="comboExample.config" [data]="comboExample.data" />
  <div test-chart style="width: 49%"></div>
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;"><h3>TreeMap Chart</h3></span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="treemap" [config]="treemapExample.config" [data]="treemapExample.data" />
  <chart style="width: 24%" type="treemap" [config]="treemapExample2.config" [data]="treemapExample2.data" />
  <chart style="width: 24%" type="treemap" [config]="treemapExample3.config" [data]="treemapExample3.data" />
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;"><h3>HeatMap Chart</h3></span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="heatmap" [config]="heatmapExample.config" [data]="heatmapExample.data" />
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;"><h3>RangeArea Chart</h3></span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="rangeArea" [config]="rangeExample.config" [data]="rangeExample.data" />
</div>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
  <div class="mat-divider"></div>
  <span style="margin-right: 0.5em; margin-left: 0.5em;"><h3>RangeBar Chart</h3></span>
  <div class="mat-divider"></div>
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="rangeBar" [config]="rangeExample.config" [data]="rangeExample.data" />
</div>