.app-container {
  display: flex;
  min-height: 100vh;
  padding-top: 80px;

  main {
    flex: 1;
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}

@media (max-width: 768px) {
  .app-container main {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
    padding-top: 4rem;
  }
}