<!-- <div style="display: flex; justify-content: space-between;">
  <chart type="pie" [config]="pieExample.config" [data]="pieExample.data" />
  <chart type="pie" [config]="pieExample2.config" [data]="pieExample2.data" />
  <chart type="pie" [config]="pieExample3.config" [data]="pieExample3.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart type="donut" [config]="donutExample1.config" [data]="donutExample1.data" />
  <chart type="donut" [config]="donutExample2.config" [data]="donutExample2.data" />
  <chart type="donut" [config]="donutExample3.config" [data]="donutExample3.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart type="polarArea" [config]="polarAreaExample1.config" [data]="polarAreaExample1.data" />
  <chart type="polarArea" [config]="polarAreaExample2.config" [data]="polarAreaExample2.data" />
  <chart type="polarArea" [config]="polarAreaExample3.config" [data]="polarAreaExample3.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart type="radialBar" [config]="polarAreaExample1.config" [data]="polarAreaExample1.data" />
  <chart type="radialBar" [config]="polarAreaExample2.config" [data]="polarAreaExample2.data" />
  <chart type="radialBar" [config]="polarAreaExample3.config" [data]="polarAreaExample3.data" />
</div>

<div style="display: flex; justify-content: space-between;">
  <chart style="width: 33%;" type="line" [config]="lineExample1.config" [data]="lineExample1.data" />
  <chart style="width: 33%;" type="line" [config]="lineExample2.config" [data]="lineExample2.data" />
  <chart style="width: 33%;" type="line" [config]="lineExample3.config" [data]="lineExample3.data" />
</div>
<chart type="area" [config]="areaExample1.config" [data]="areaExample1.data" />
<chart type="bar" [config]="barExample1.config" [data]="barExample1.data" />
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 49%;" type="bar" [config]="barExample2.config" [data]="barExample2.data" />
  <chart style="width: 49%;" type="bar" [config]="barExample3.config" [data]="barExample3.data" />
</div>
<chart type="funnel" [config]="funnelExample.config" [data]="funnelExample.data" />
<chart type="pyramid" [config]="funnelExample.config" [data]="funnelExample.data"/> -->
<!-- <div treemap-chart></div> -->
<div style="display: flex; justify-content: space-between; margin-bottom: 0.5em;">
  <chart style="width: 24%;" type="pie" [config]="pieExample.config" [data]="pieExample.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample2.config" [data]="pieExample2.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample3.config" [data]="pieExample3.data" />
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 0.5em;">
  <chart style="width: 24%;" type="pie" [config]="pieExample4.config" [data]="pieExample4.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample5.config" [data]="pieExample5.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample6.config" [data]="pieExample6.data" />
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 0.5em;">
  <chart style="width: 24%;" type="pie" [config]="pieExample7.config" [data]="pieExample7.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample8.config" [data]="pieExample8.data" />
  <chart style="width: 24%;" type="pie" [config]="pieExample9.config" [data]="pieExample9.data" />
  </div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="bar" [config]="barExample.config" [data]="barExample.data" />
  <chart style="width: 24%" type="bar" [config]="barExample2.config" [data]="barExample2.data" />
  <chart style="width: 24%" type="bar" [config]="barExample3.config" [data]="barExample3.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="bar" [config]="barExample4.config" [data]="barExample4.data" />
  <chart style="width: 24%" type="bar" [config]="barExample5.config" [data]="barExample5.data" />
  <chart style="width: 24%" type="bar" [config]="barExample6.config" [data]="barExample6.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="bar" [config]="barExample7.config" [data]="barExample7.data" />
  <chart style="width: 24%" type="bar" [config]="barExample8.config" [data]="barExample8.data" />
  <chart style="width: 24%" type="bar" [config]="barExample9.config" [data]="barExample9.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="bar" [config]="barExample10.config" [data]="barExample10.data" />
  <chart style="width: 24%" type="funnel" [config]="funnelExample.config" [data]="funnelExample.data" />
  <chart style="width: 24%" type="pyramid" [config]="funnelExample.config" [data]="funnelExample.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="treemap" [config]="treemapExample.config" [data]="treemapExample.data" />
  <chart style="width: 24%" type="treemap" [config]="treemapExample2.config" [data]="treemapExample2.data" />
  <chart style="width: 24%" type="treemap" [config]="treemapExample3.config" [data]="treemapExample3.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 24%" type="heatmap" [config]="treemapExample3.config" [data]="treemapExample3.data"/>
</div>
<!-- <div style="display: flex; justify-content: space-between;">
  <chart style="width: 49%" type="bar" [config]="barExample3.config" [data]="barExample3.data" />
  <chart style="width: 49%" type="bar" [config]="barExample0.config" [data]="barExample0.data" />
</div>
<div style="display: flex; justify-content: space-between;">
  <chart  style="width: 49%" type="funnel" [config]="funnelExample.config" [data]="funnelExample.data" />
  <chart  style="width: 49%" type="pyramid" [config]="funnelExample.config" [data]="funnelExample.data" /> 
</div>
<div style="display: flex; justify-content: space-between;">
  <chart style="width: 33%;" type="line" [config]="lineExample1.config" [data]="lineExample1.data" />
  <chart style="width: 33%;" type="line" [config]="lineExample2.config" [data]="lineExample2.data" />
  <chart style="width: 33%;" type="area" [config]="areaExample1.config" [data]="areaExample1.data" />
</div> -->