<ng-container *ngIf="selectedChartType">
  <div class="charts-container" *ngIf="selectedChartType">
    <h2>Exemples de {{ selectedChartType }}</h2>
    <p class="source-note">
      <em
        >Note: Si certains éléments comme les tooltips n'apparaissent pas dans
        le formatteur de code, vous pouvez consulter le code source complet sur
        GitHub en cliquant sur l'icône en haut à droite et en naviguant vers
        <span>src/app/data/chart/</span> pour votre exemple.</em
      >
    </p>
    <div class="charts-grid">
      <ng-container [ngSwitch]="selectedChartType">
        <ng-container *ngSwitchCase="'Pie Chart'">
          <div
            class="chart-wrapper"
            *ngFor="
              let example of [
                pieExample,
                pieExample2,
                pieExample3,
                pieExample4,
                pieExample5,
                pieExample6,
                pieExample7,
                pieExample8,
                pieExample9
              ];
              let i = index
            "
          >
            <chart
              class="chart-component"
              type="pie"
              [config]="example.config"
              [data]="example.data"
            />
            <button
              class="code-toggle"
              (click)="toggleCode(i, $event)"
              aria-label="Toggle code visibility"
            >
              <img
                src="assets/icons/code.svg"
                class="code-icon"
                alt="toggle code"
              />
              <span class="tooltip">Voir le code</span>
            </button>
            <div class="code-block" [class.open]="isCodeOpen(i)">
              <pre><code [innerHTML]="getHighlightedCode(example)"></code></pre>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'Bar Chart'">
          <div
            class="chart-wrapper"
            *ngFor="
              let example of [
                barExample,
                barExample2,
                barExample3,
                barExample4,
                barExample5,
                barExample6,
                barExample7,
                barExample8,
                barExample9
              ];
              let i = index
            "
          >
            <chart
              class="chart-component"
              type="bar"
              [config]="example.config"
              [data]="example.data"
            />
            <button
              class="code-toggle"
              (click)="toggleCode(i, $event)"
              (keyup.enter)="toggleCode(i, $event)"
              aria-label="Toggle code visibility"
            >
              <img
                src="assets/icons/code.svg"
                class="code-icon"
                alt="toggle code"
              />
              <span class="tooltip">Voir le code</span>
            </button>
            <div class="code-block" [class.open]="isCodeOpen(i)">
              <pre><code [innerHTML]="getHighlightedCode(example)"></code></pre>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'Line Chart'">
          <div
            class="chart-wrapper"
            *ngFor="
              let example of [
                lineExample,
                lineExample2,
                lineExample3,
                lineExample4,
                lineExample5,
                lineExample6,
                lineExample7,
                lineExample8,
                lineExample9
              ];
              let i = index
            "
          >
            <chart
              class="chart-component"
              type="line"
              [config]="example.config"
              [data]="example.data"
            />
            <button
              class="code-toggle"
              (click)="toggleCode(i, $event)"
              (keyup.enter)="toggleCode(i, $event)"
              aria-label="Toggle code visibility"
            >
              <img
                src="assets/icons/code.svg"
                class="code-icon"
                alt="toggle code"
              />
              <span class="tooltip">Voir le code</span>
            </button>
            <div class="code-block" [class.open]="isCodeOpen(i)">
              <pre><code [innerHTML]="getHighlightedCode(example)"></code></pre>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'Treemap Chart'">
          <div
            class="chart-wrapper"
            *ngFor="
              let example of [treemapExample, treemapExample2, treemapExample3];
              let i = index
            "
          >
            <chart
              class="chart-component"
              type="treemap"
              [config]="example.config"
              [data]="example.data"
            />
            <button
              class="code-toggle"
              (click)="toggleCode(i, $event)"
              (keyup.enter)="toggleCode(i, $event)"
              aria-label="Toggle code visibility"
            >
              <img
                src="assets/icons/code.svg"
                class="code-icon"
                alt="toggle code"
              />
              <span class="tooltip">Voir le code</span>
            </button>
            <div class="code-block" [class.open]="isCodeOpen(i)">
              <pre><code [innerHTML]="getHighlightedCode(example)"></code></pre>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'Heatmap Chart'">
          <div class="chart-wrapper">
            <chart
              class="chart-component"
              type="heatmap"
              [config]="heatmapExample.config"
              [data]="heatmapExample.data"
            />
            <button
              class="code-toggle"
              (click)="toggleCode(0, $event)"
              (keyup.enter)="toggleCode(0, $event)"
              aria-label="Toggle code visibility"
            >
              <img
                src="assets/icons/code.svg"
                class="code-icon"
                alt="toggle code"
              />
              <span class="tooltip">Voir le code</span>
            </button>
            <div class="code-block" [class.open]="isCodeOpen(0)">
              <pre><code [innerHTML]="getHighlightedCode(heatmapExample)"></code></pre>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'Range Chart'">
          <div class="chart-wrapper">
            <chart
              class="chart-component"
              type="rangeArea"
              [config]="rangeExample.config"
              [data]="rangeExample.data"
            />
            <button
              class="code-toggle"
              (click)="toggleCode(0, $event)"
              (keyup.enter)="toggleCode(0, $event)"
              aria-label="Toggle code visibility"
            >
              <img
                src="assets/icons/code.svg"
                class="code-icon"
                alt="toggle code"
              />
              <span class="tooltip">Voir le code</span>
            </button>
            <div class="code-block" [class.open]="isCodeOpen(0)">
              <pre><code [innerHTML]="getHighlightedCode(rangeExample)"></code></pre>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'Funnel Chart'">
          <div class="chart-wrapper">
            <chart
              class="chart-component"
              type="funnel"
              [config]="funnelExample.config"
              [data]="funnelExample.data"
            />
            <button
              class="code-toggle"
              (click)="toggleCode(0, $event)"
              (keyup.enter)="toggleCode(0, $event)"
              aria-label="Toggle code visibility"
            >
              <img
                src="assets/icons/code.svg"
                class="code-icon"
                alt="toggle code"
              />
              <span class="tooltip">Voir le code</span>
            </button>
            <div class="code-block" [class.open]="isCodeOpen(0)">
              <pre><code [innerHTML]="getHighlightedCode(funnelExample)"></code></pre>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
